html {
    background-image: url("../img/bcg.jpg");
    background-repeat: repeat;
    background-size: contain;
    color: #ffef08;
    font-family: "Berkshire Swash";
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #D60407;
    box-shadow: 0px 0px 10px #D60407;
    border-radius: 10px;
    font-size: clamp(10px, 1vw, 15px);
}

main {    
    padding: 10px;
    text-align: center;  
}

.page {
    min-height: 100vh;
}

select {
    width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input {
    width: 100px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #2A7111;
    color: #FEFEFE;
}

h1, h3 {
    color: #2A7111;
    text-shadow: 5px 5px 10px #FEFEFE;
}

h1 {
    font-size: clamp(40px, 4vw, 48px);
}

h2 {
    font-size: clamp(32px, 3vw, 40px);
    color: #D60407;
}

h3 {
    font-size: clamp(26px, 2vw, 32px);;
}

footer {
    padding-bottom: 25px;
}

hr {
    height: 1px;
    color: #000000;
    background: #FEFEFE;
    font-size: 0;
    border: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

:root{
    --flake-color: #fff;
    --bg: #0a1630;
}

.snow {
    position:absolute;
    inset:0;
    pointer-events:none;
    overflow:hidden;
}

.flake{
    position:absolute;
    top:-10vh;
    left:0;
    width:6px;
    height:6px;
    background:var(--flake-color);
    border-radius:50%;
    opacity:0.9;
    will-change:transform,opacity;
    transform:translateY(-10vh);
}

@keyframes fall {
    0% {
        transform: translateY(-10vh) translateX(0);
        opacity:0;
    }
    10% {
        opacity:1;
    }
    50% {
        transform: translateY(50vh) translateX(var(--sway));
    }
    100% {
        transform: translateY(110vh) translateX(calc(var(--sway) * -1));
        opacity:0;
    }
}

.flake {
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.flake[style] {
    animation-duration: 12s;
    animation-delay: 0s;
}

.card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

.card.show {
    opacity: 1;
    pointer-events: auto;
}

.card-content {
    background: #FEFEFE;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);

    transform: scale(0.7);
    transition: transform 0.3s ease;
}

.card.show .card-content {
    transform: scale(1);
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: #D60407;
}


a {
    text-decoration: underline;
    color: inherit;
    transition: color 0.2s ease
}

a:hover {
    color: #FEFEFE;
}